.container {
    width: 600px;
    height: 500px;
    border: 5px solid #111111;
    margin: 30px auto;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    align-items: baseline;


}

/* align-content apabila ada lebiih dari 1 baris  */

/*  If not flex you can use this code for alternate*/
/* .container::after{
    content: '';
    display: block;
    clear: both;
} */
.container div{
    height: 120px;
    width: 120px;
    background-color: rgb(12, 23, 170);
    margin: 5px;
    
  
}

.container .tiga{
    font-size: 40px;
}

.container .empat{
    font-size: 80px;
}